#navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    
}
.ediv{
    background-image:linear-gradient(45deg, 
    rgba(255, 255, 255, 0.75),
     rgba(88, 234, 247, 0.75));
     padding-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 85vh;
    width:100vw;
}
.ediv1{
    float:center;
    border-radius: 6px;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 20px black;
    width:40vw;
    height:55vh;
    padding-top: 2rem;
    background-color:darkgray;
    padding-bottom: 4rem;
    /* padding-left: 30%; */
    font-weight: bold;
} 
.el{
    padding-right:15rem;
    /* padding-bottom: 5px; */
}
.el1{
    padding-top: 1rem;
    padding-left: 7rem;
}

table {
    /* padding:30%; */
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#etwo{
    width: 25%;
}
#ethree{
    width: 27%;
}
.ta{
    display: flex;
    gap: 10%;
}
.ta button:hover {
    background-color: darkgray;
    transition: all 0.2s ease-out;
    border-radius: 4px;
    /* color: red; */
}
.ta button {
    padding: 8px 10px;
    background-color: #2EFFFF;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-family: unset;
    font-size: 15px;
}